<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Pirates, Arrrr!</title>
  </head>
  <body>
     <form method="POST" action="/pirates">
      <h3>PIRATE</h3>
      <label for="name"> Pirate Name:</label>
      <input type="text" id="name" name="pirate[name]">
      <label for="weight"> Pirate Weight:</label>
      <input type="text" id="weight" name="pirate[weight]">
      <label for="height"> Pirate Height:</label>
      <input type="text" id="height" name="pirate[height]">
      
      <h3>FIRST SHIP</h3>
      <label for="ship_name_1"> First Ship Name:</label>
      <input type="text" id="ship_name_1" name="pirate[ships][][name]">
      <label for="ship_type_1"> First Ship Type:</label>
      <input type="text" id="ship_type_1" name="pirate[ships][][type]">
      <label for="ship_booty_1"> First Ship Booty:</label>
      <input type="text" id="ship_booty_1" name="pirate[ships][][booty]">
      
      <h3>SECOND SHIP</h3>
      <label for="ship_name_2"> Second Ship Name:</label>
      <input type="text" id="ship_name_2" name="pirate[ships][][name]">
      <label for="ship_type_2"> Second Ship Type:</label>
      <input type="text" id="ship_type_2" name="pirate[ships][][type]">
      <label for="ship_booty_2"> Second Ship Booty:</label>
      <input type="text" id="ship_booty_2" name="pirate[ships][][booty]">
      
<<<<<<< HEAD
      <input type="submit" value="Submit">
=======
      <input type="submit" value="submit">
>>>>>>> dd905deac8e992cc5e6b0ab4bea807145bc0dd95
    </form>
   </body>
</html>